<form  [formGroup]="formulario" (ngSubmit)="guardar()" class="card-body mt-5">
  
  <label><h3>Palabras a buscar :</h3></label>
  <div formArrayName = "palabraSopaForm" >
    <div *ngFor="let palabra of palabraForm.controls; let i = index" class="input-group input-group-lg row my-3">
      <!-- <span class="input-group-text" id="inputGroup-sizing-lg"></span> -->
      <div class="col">
        <input type="text" class = "form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"
          [formControlName]="i"
        >
      </div>
      <div class="col-auto">
        <button class="btn btn-danger" type="button"(click)="eliminarPalabra(i)">
          - Elimina
        </button>
      </div>
    </div>
  </div>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-primary m-3" type="button"(click)="agregarPalabra()" >
      + Agregar palabra
    </button>
  </div>

  <label><h3>Sopa de Letras :</h3></label>

  <div class="d-grid gap-2 d-md-flex justify-content-md-between my-5">
    <button class="btn btn-primary" type="button"(click)="agregarColumna()">
      + Agregar columna
    </button>
    <button class="btn btn-danger" type="button"(click)="eliminarColumna()">
      - Eliminar columna
    </button>
  </div>

  <table formArrayName = "sopaForm" >
    <tbody>
      <ng-container *ngFor="let sopa of sopaForm.controls; let i = index" >
        <td>
          <input type="text" class="form-control text-center" 
            [formControlName]="i"
            [ngClass]="pintaCoordenadas[i] ? 'bg-danger form-control ':'form-control'"
          >
        </td>
        <tr *ngIf="checaColumna(i,col_max)" 
        ></tr>
      </ng-container>
    </tbody>
   
  </table>


  <div class="d-grid gap-2 d-md-flex justify-content-md-between my-5">
    <button class="btn btn-primary" type="button" (click)="agregarRenglon()">
      + Agregar renglon
    </button>
    <button class="btn btn-danger" type="button" (click)="eliminarRenglon()" >
      - Eliminar renglon
    </button>
  </div>

  <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-success" type="submit">
      Resuelve
    </button>
  </div>

  <div class = "my-5" ></div>

</form>

  <!-- <div class="row container mx-auto" *ngFor="let col of sopa; let i = index">
      <div class="col" *ngFor="let ren of col; let j = index" >
          <p *ngIf = "0" class = "palabraSopa" >{{sopa[i][j]}}</p>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
      </div>
  </div> -->


<!-- <form  [formGroup]="formulario" (ngSubmit)="guardar()" class="card-body container mt-5">

    <label><h3>Palabras a buscar :</h3></label>
    <textarea  rows="3" cols="20" class="form-control my-3" aria-label="With textarea"
    formControlName = "ciertas"></textarea>

    <label><h3>Sopa de Letras :</h3></label>
    <textarea  rows="20" cols="20" class="form-control my-3" aria-label="With textarea"
    formControlName = "sopa"></textarea>

    <div class = "boton-submit-container my-5 "  >
      <button class="btn btn-success btn-lg" type="submit">
        Resuelve
      </button>
    </div>

  </form>
<div class="row container mx-auto" *ngFor="let col of sopa; let i = index">
    <div class="col" *ngFor="let ren of col; let j = index" >
        <p *ngIf = "0" class = "palabraSopa" >{{sopa[i][j]}}</p>
        <p  >{{sopa[i][j]}}</p>
    </div>
</div>
<div class="my-5"></div> -->
